# Путь к виртуальному окружению
/my_env/

# Файлы байт-кода Python
*.pyc
*.pyo
*.pyd

# Файл результата компиляции C-расширений Python
*.so

# Игнорируем файлы конфигурации и логи IPython
.ipynb_checkpoints/

# Игнорируем файлы журналов
*.log

# Игнорируем результаты сборки
/build/

# Игнорируем дистрибутивы
/dist/

# Игнорируем кэшированные пакеты PIP
__pycache__/

# Игнорируем временные файлы
*.tmp
*~

# Игнорируем файл .DS_Store (для Mac OS X)
.DS_Store

# Игнорируем конфигурационные файлы IDE
.idea/
.vscode/

# Игнорируем egg-info файлы
/*.egg-info/